[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python manage.py runserver"
shell = "python manage.py shell"
migrate = "python manage.py migrate"
makemigrations = "python manage.py makemigrations"
collectstatic = "python manage.py collectstatic --noinput"
test = "DJANGO_ENV=test python manage.py test"
new-app = "python manage.py startapp"

[packages]
dj-database-url = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pip = "*"
gunicorn = "*"
whitenoise = "*"
pycurl = "*"
boto3 = "*"
psycopg = {extras = ["binary"], version = "*"}
filetype = "*"
attrs = "*"
pillow = "*"
factory-boy = "*"
testcontainers = "*"
django-storages = {extras = ["s3"], version = "*"}
modal = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
