projects:
  - name: mahjong-api-project
    environments:

      - name: production
        services:
        - type: web
          name: mahjong-api
          repo: https://github.com/mahjong-hub/mahjong-api
          runtime: python
          region: singapore
          plan: free
          branch: 42-migrate-infrastructure-from-aws-to-render-cloudflare-r2
          autoDeployTrigger: off
          domains:
            - api.mahjongcalc.com
          buildCommand: |
            pip install --upgrade pip setuptools wheel pipenv
            pipenv requirements > requirements.txt
            pip install -r requirements.txt
            python manage.py collectstatic --no-input
          startCommand: gunicorn mahjong_api.wsgi:application
          healthCheckPath: /healthz/
          envVars:
            - key: REDIS_URL
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - key: CELERY_BROKER_URL
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - key: CELERY_RESULT_BACKEND
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - fromGroup: production-secrets

        - type: worker
          name: mahjong-worker
          repo: https://github.com/mahjong-hub/mahjong-api
          runtime: python
          region: singapore
          plan: free
          branch: 42-migrate-infrastructure-from-aws-to-render-cloudflare-r2
          autoDeployTrigger: off
          buildCommand: |
            pip install --upgrade pip setuptools wheel pipenv
            pipenv requirements > requirements.txt
            pip install -r requirements.txt
          startCommand: celery -A mahjong_api worker --loglevel=info --concurrency=2
          envVars:
            - key: REDIS_URL
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - key: CELERY_BROKER_URL
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - key: CELERY_RESULT_BACKEND
              fromService:
                type: redis
                name: mahjong-redis
                property: connectionString

            - fromGroup: production-secrets

        - type: redis
          name: mahjong-redis
          ipAllowList: []
          plan: free
          maxmemoryPolicy: allkeys-lru

        envVarGroups:
        - name: production-secrets
          envVars:
          - key: PYTHON_VERSION
            value: 3.13.5

          - key: DJANGO_ENV
            value: production

          - key: DJANGO_SETTINGS_MODULE
            value: mahjong_api.settings.production

          - key: DJANGO_SECRET_KEY
            sync: false

          - key: DJANGO_DEBUG
            value: "False"

          - key: DJANGO_ALLOWED_HOSTS
            sync: false

          - key: DJANGO_CSRF_TRUSTED_ORIGINS
            sync: false

          - key: DATABASE_URL
            sync: false

          - key: CELERY_TASK_DEFAULT_QUEUE
            value: mahjong-default

          - key: R2_ACCESS_KEY_ID
            sync: false

          - key: R2_SECRET_ACCESS_KEY
            sync: false

          - key: R2_ENDPOINT_URL
            sync: false

          - key: R2_BUCKET_IMAGES
            value: mahjong-images-prod

          - key: R2_BUCKET_MODELS
            value: mahjong-models

          - key: MODAL_CV_ENDPOINT
            sync: false

          - key: MODEL_VERSION
            value: 0.1

          - key: DETECTION_CONFIDENCE_THRESHOLD
            value: 0.7

      - name: development
        services:
        - type: web
          name: mahjong-api-dev
          repo: https://github.com/mahjong-hub/mahjong-api
          runtime: python
          region: singapore
          plan: free
          branch: 42-migrate-infrastructure-from-aws-to-render-cloudflare-r2
          previews:
            generation: automatic
          domains:
            - api.dev.mahjongcalc.com
          buildCommand: |
            pip install --upgrade pip setuptools wheel pipenv
            pipenv requirements > requirements.txt
            pip install -r requirements.txt
            python manage.py collectstatic --no-input
          startCommand: gunicorn mahjong_api.wsgi:application
          healthCheckPath: /healthz/
          envVars:
            - key: REDIS_URL
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - key: CELERY_BROKER_URL
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - key: CELERY_RESULT_BACKEND
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - fromGroup: development-secrets

        - type: worker
          name: mahjong-worker-dev
          repo: https://github.com/mahjong-hub/mahjong-api
          runtime: python
          region: singapore
          plan: free
          branch: 42-migrate-infrastructure-from-aws-to-render-cloudflare-r2
          buildCommand: |
            pip install --upgrade pip setuptools wheel pipenv
            pipenv requirements > requirements.txt
            pip install -r requirements.txt
          startCommand: celery -A mahjong_api worker --loglevel=info --concurrency=2
          envVars:
            - key: REDIS_URL
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - key: CELERY_BROKER_URL
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - key: CELERY_RESULT_BACKEND
              fromService:
                type: redis
                name: mahjong-redis-dev
                property: connectionString

            - fromGroup: development-secrets

        - type: redis
          name: mahjong-redis-dev
          ipAllowList: []
          plan: free
          maxmemoryPolicy: allkeys-lru

        envVarGroups:
        - name: development-secrets
          envVars:
          - key: PYTHON_VERSION
            value: 3.13.5

          - key: DJANGO_ENV
            value: development

          - key: DJANGO_SETTINGS_MODULE
            value: mahjong_api.settings.development

          - key: DJANGO_SECRET_KEY
            sync: false

          - key: DJANGO_DEBUG
            value: "True"

          - key: DJANGO_ALLOWED_HOSTS
            sync: false

          - key: DJANGO_CSRF_TRUSTED_ORIGINS
            sync: false

          - key: DATABASE_URL
            sync: false

          - key: CELERY_TASK_DEFAULT_QUEUE
            value: mahjong-default

          - key: R2_ACCESS_KEY_ID
            sync: false

          - key: R2_SECRET_ACCESS_KEY
            sync: false

          - key: R2_ENDPOINT_URL
            sync: false

          - key: R2_BUCKET_IMAGES
            value: mahjong-images-dev

          - key: R2_BUCKET_MODELS
            value: mahjong-models

          - key: MODAL_CV_ENDPOINT
            sync: false

          - key: MODEL_VERSION
            value: 0.1

          - key: DETECTION_CONFIDENCE_THRESHOLD
            value: 0.7
