version: 2.1

references:
  python-executor: &python-executor
    docker:
      - image: cimg/python:3.13

  install-pipenv-dependencies: &install-pipenv-dependencies
    run:
      name: Install pipenv and dependencies
      environment:
        PIPENV_YES: "1"
        PIPENV_VENV_IN_PROJECT: "1"
      command: |
        python -m pip install --upgrade pip pipenv setuptools
        pipenv install --dev --deploy

jobs:
  check_migrations:
    <<: *python-executor
    steps:
      - checkout
      - *install-pipenv-dependencies
      - run:
          name: Check for missing migrations
          command: |
            export DJANGO_SETTINGS_MODULE=mahjong_api.test_settings
            pipenv run python manage.py makemigrations --check --dry-run

  test:
    <<: *python-executor
    steps:
      - checkout
      - *install-pipenv-dependencies
      - run:
          name: Run tests
          command: |
            export DJANGO_SETTINGS_MODULE=mahjong_api.test_settings
            pipenv run python manage.py test

  lint:
    <<: *python-executor
    steps:
      - checkout
      - *install-pipenv-dependencies
      - run:
          name: Run linting (ruff)
          command: pipenv run ruff check .

workflows:
  version: 2
  test_and_lint:
    jobs:
      - check_migrations
      - test:
          requires:
            - check_migrations
      - lint
