name: Modal CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Modal App
    runs-on: ubuntu-latest
    env:
      MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
      MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Modal
        run: |
          python -m pip install --upgrade pip
          pip install modal

      - name: Deploy job (dev)
        run: |
          modal deploy -m modal_app.src.app --env=dev

      - name: Deploy job (prod)
        run: |
          modal deploy -m modal_app.src.app --env=prod
